{% extends "base.html" %}

{% block content %}
     {% if list == "ol"%}
        <h2>Список профессий</h2>
        <ol>
          <li>Археолог</li>
          <li>Шеф-повар</li>
          <li>Токарь</li>
          <li>Животновод</li>
          <li>Астрофизик</li>
          <li>Авиамеханик</li>
          <li>Сомелье</li>
          <li>Веб-дизайнер</li>
          <li>Психолог</li>
          <li>Гид-путешественник</li>
        </ol>
     {% elif list == "ul" %}
        <h2>Список профессий</h2>
        <ul>
          <li>Археолог</li>
          <li>Шеф-повар</li>
          <li>Токарь</li>
          <li>Животновод</li>
          <li>Астрофизик</li>
          <li>Авиамеханик</li>
          <li>Сомелье</li>
          <li>Веб-дизайнер</li>
          <li>Психолог</li>
          <li>Гид-путешественник</li>
        </ul>
    {% else %}
        <h2>Неверный параметр!</h2>
    {% endif %}
{% endblock %}